*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
}

header {
  background: #F9F4FB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 9rem;
}

header .img-astronaut{
  margin-bottom: 1.7rem;
  max-width: 37rem;
  width: 100%;
}

.title h1 {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4rem;
  color: #B52184;
}

header .text {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0.5rem 0 3.5rem;
}

header .img-arrow {
  border: 4px solid #B52184;
  border-radius: 76rem;
  width: 5.8rem;
  height: 10.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 5rem 4rem;
}

.cards .card .container-card {
  padding: 2.6rem 6rem 2.6rem 2.6rem;
}

.cards .card {
  background: #FFFFFF;
  max-width: 35.2rem;
  height: 100%;
  border-radius: 2rem;
}

.card h2 {
  font-size: 2.92rem;
  line-height: 3.7rem;
  color: #B52184;
  padding: 3.3rem 0 2rem;
}

.card p {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #312D64;
}

.contact {
  background: #FFFFFF;
  padding-bottom: 6.5rem;
}

#my-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  border: none;
}

fieldset legend {
  font-style: normal;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4rem;
  color: #B52184;
  margin: 7.8rem 0 4rem;
}

.input-wrapper input,
.input-wrapper textarea {
  border-radius: 1.6rem;
  border: 1.5px solid #312D64;
  max-width: 34.8rem;
  width: 100vw;
  height: 4.8rem;
}

.input-wrapper input::placeholder {
  position: absolute;
  left: 4rem;
  transform: translateY(80%);
  font-size: 1.6rem;
  color: #89869d;
}

.input-wrapper textarea::placeholder {
  position: absolute;
  top: 1rem;
  font-size: 1.6rem;
  padding-left: 1rem;
}

.input-wrapper input {
  margin-bottom: 2rem;
  padding-left: 4rem;
  color: #312D64;
  font-size: 1.6rem;
}

.input-wrapper textarea {
  height: 12.8rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
  color: #312D64;
  font-size: 1.6rem;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-100%);
  width: 1.95rem;
  height: 2.1rem;
}

.contact-button {
  cursor: pointer;
  background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
  border-radius: 16px;
  color: #FFFFFF;
  border: none;
  padding: 1.1rem 1.6rem;
}

footer {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  padding: 3.2rem 0;
}